<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Nodi - The Community Time Bank </title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
       <header>
        <a href="#" class="logo">Nodi.</a>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search Nodi">
        </div>
        <div class="header-icons">
            <div class="hours-counter">
                <span class="Time-credit"></span>
                <img class=icon-button src="assets.pdf/hourglass.svg" />
                <div class="hours-tooltip">
                    Total number of Hours helped the Community
                </div>
            </div>
            <img class="icon-button" src="assets.pdf/plus.svg" height="20" width="20"/>
            <img class=icon-button src="assets.pdf/chaticon.svg" height="20" width="20" />
            <img class=icon-button src="assets.pdf/account.svg" height="20" width="20"/>
        </div>
       </header>

       <div class="content-container">
        <div class="topics-sidebar">
            <h3 class="sidebar-title">Topics</h3>
            <div class="topic-item">
                <input type="checkbox" id="catering" class="topic-checkbox">
                <label for="catering" class="topic-label">Catering</label>
            </div>
            <div class="topic-item">
                <input type="checkbox" id="educational" class="topic-checkbox" checked>
                <label for="educational" class="topic-label">Education</label>
            </div>
            <div class="topic-item">
                <input type="checkbox" id="Cleaning" class="topic-checkbox" checked>
                <label for="cleaning" class="topic-label">Cleaning</label>
            </div>
            <div class="topic-item">
                <input type="checkbox" id="tech" class="topic-checkbox" >
                <label for="tech" class="topic-label">Tech</label>
            </div>
            <div class="topic-item">
                <input type="checkbox" id="recreational" class="topic-checkbox" >
                <label for="recreational" class="topic-label">recreational</label>
            </div>
            <div class="topic-item">
                <input type="checkbox" id="Outdoor" class="topic-checkbox" >
                <label for="outdoor" class="topic-label">Outdoor</label>
            </div>
        </div>

        <div class="posts-area" id="postsContainer">
            <!-- Posts will be dynamically added here -->
        </div>
    </div>


            
